<div id="root">
  <%= render 'shared/hero' %>
  <%= render 'shared/about' %>
  <%= render 'shared/expertise' %>
  <%= render 'shared/timeline' %>
  <%= render 'shared/projects' %>
  <%= render 'shared/techstack' %>
  <%= render 'shared/testimonials' %>
  <%= render 'shared/contact' %>
</div>