<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= render 'shared/head'%>
  </head>

  <body class="antialiased text-gray-800 min-h-screen flex flex-col">
      <!-- Skip to main content link for accessibility -->
      <a href="#main-content" 
         class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-0 focus:z-50 focus:p-4 focus:bg-white focus:text-black">
         Skip to main content
      </a>

      <!-- Header -->
      <%= render 'shared/header'%>

      <!-- Main content area -->
      <main id="main-content" class="flex-1 relative ">
        <% if flash[:notice] %>
            <div class="bg-green-500 text-black p-4 text-center mb-4 mt-4 relative">
              <%= flash[:notice] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="bg-red-500 text-black p-4 text-center mb-4 mt-4 relative">
              <%= flash[:alert] %>
            </div>
          <% end %>
          <%= yield %>
      </main>

      <%= render 'shared/footer'%>
  </body>
</html>


